# Eclipse build directories

Projects/Eclipse/*/Release
Projects/Eclipse/*/Debug
Projects/Eclipse/*/.settings


# TrueSTUDIO build directories

Projects/TrueSTUDIO/*/Release
Projects/TrueSTUDIO/*/Debug
Projects/TrueSTUDIO/*/.settings


# Temporary files

*~

# Latex copmile files

*Latex_diplomaterv/*.aux
*Latex_diplomaterv/*.tmp
*Latex_diplomaterv/*.log
*Latex_diplomaterv/*.bbl
*Latex_diplomaterv/*.blg
*Latex_diplomaterv/*.out
*Latex_diplomaterv/*.toc
*Latex_diplomaterv/*.tps
*Latex_diplomaterv/*.thm