# Eclipse build directories

Projects/Eclipse/*/Release
Projects/Eclipse/*/Debug
Projects/Eclipse/*/.settings


# TrueSTUDIO build directories

Projects/TrueSTUDIO/*/Release
Projects/TrueSTUDIO/*/Debug
Projects/TrueSTUDIO/*/.settings


# Temporary files

*~

# LaTeX compile files

**/LaTeX_diplomaterv/*.aux
**/LaTeX_diplomaterv/*.tmp
**/LaTeX_diplomaterv/*.log
**/LaTeX_diplomaterv/*.bbl
**/LaTeX_diplomaterv/*.blg
**/LaTeX_diplomaterv/*.out
**/LaTeX_diplomaterv/*.toc
**/LaTeX_diplomaterv/*.tps
**/LaTeX_diplomaterv/*.thm